.DropdownItem {
    display: flex;
    flex-direction: row;
    background-color: white;

    &:hover {
        background-color: #e7f4fe;
    }
    &:focus {
        background-color: #e7f4fe;
    }

    &__type {
        padding: 8px 16px;
        & span {
            color:white;
            border-radius: 5px;
            padding: 2px 5px;
            font-weight: 600;
            font-size: 12px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        &__title{
            font-size: 14px;
            display: flex;
            flex-direction: row;
        }
        &__subtitle {
            font-size: 12px;
        }
    }
}