.DropdownItem {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid #222;
    padding: 8px 16px;
    &:hover {
        background-color: #e7f4fe;
    }
    &:focus {
        background-color: #e7f4fe;
    }
}